<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="javascripts/all.js"></script>
		<title>Clothing Manager</title>
	</head>
    <header class="page-header text-center">
        <a href="/"><h1>Clothing Manager</h1></a>
        <span>
            <a href="/all">All</a> |
            <a href="/dirty">Dirty</a> |
            <a href="/addClothes">Add</a>
        </span>
        <p>The weather for today is: <span id="weather"> F</span></p>
        <p>Feels: <span id="feels"></span></p>
    </header>
	<body>
        <div class="container-fluid">
            <div id="message"></div>
            <h2>All</h2>
            <div id="atable"></div>
        </div>
	</body>
    <footer class="page-footer text-center">
        <p class="text-muted">Shreeyagya Khemka</p>
    </footer>
</html>


