<!DOCTYPE html>
<html>
	<head>
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="javascript/application.js"></script>

		<title>Clothing Manager</title>
	</head>
	<body>
        <h1>Welcome to Clothing Manager!</h1> 
	</body>
</html>


