.written {
    background-color: #4B4D52;
    color: #B9B1A8;
    font-family: "Helvetica";
    padding: 20px;
}

.wheader {
    background-color: #FFF2E7;
    color: #4B4D52;
    padding: 20px;
    margin: 20px;
}

body {
    background-image: url("../images/clothes.jpg");
}
